# MacOS 
.DS_Store

# Compiled files
*.tfstate
*.tfstate.backup

# Python bytecode
__pycache__/
*.pyc

# Module directory
.terraform
.terraform.lock.hcl

# Artefacts directory
artefacts/

# VS Code
.vscode

# pytest / tflint caches
.pytest_cache/
.tflint.d/
tests/terraform/.terraform*
